.pink {
    background-color: rgb(244, 177, 209);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.pink.three {
    font-size: 24px;
}

#four {
    background-color: rgb(104, 255, 115);
    font-size: 24px;
    font-weight: 700;
}